
.idea/workspace.xml

.idea/.name

.idea/ZeroChat.iml

.idea/cssxfire.xml

.idea/encodings.xml

.idea/misc.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/jsLibraryMappings.xml

.idea/jsLinters/jslint.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml
