<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login!</title>
</head>
<body>
<div id="login-wrapper" class="png_bg">
    <div id="login-top">
        <h1>Admin</h1>
    <div id="login-content">
        <form method="post">
            <p>
                <label>NickName</label>
                <input class="text-input" name="name" type="text" />
            </p>
            <p>
                <input class="button" type="submit" value="Login" />
            </p>
        </form>
    </div>

</div>

</body>
</html>
